.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.menu-secondary-exit {
  transform: translateX(0%);
}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 500ms ease;
}

.linklist {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 45rem;
}
