* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', monospace;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none; 
}

::-webkit-scrollbar-thumb {
  background: #222; 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

body {
  background-color: #242424;
  color: #fff;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
